@import "toolkit";

$brown-dark: #935A27;
$brown-light: #A87136;
$blue-dark: #1767AF;
$green-dark: #4D751D;
$green-light: #71C13D;
$blue-light: #80CEC8;

$grow-green = #8CC63F;
$grow-forest = #28903A;
$grow-red = #ED1C24;
$grow-crimson = #971B1E;
$grow-gold = #FFC20E;
$grow-orange = #F7931E;
$grow-moss = #006F3B;


.brown-dark {
    background-color: $brown-dark;
}
.brown-light {
    background-color: $brown-light;
}
.blue-dark {
    background-color: $blue-dark;
}
.green-dark {
    background-color: $green-dark;
}
.green-light {
    background-color: $green-light;
}
.blue-light {
    background-color: $blue-light;
}
