// todo: add the fonts needed into the repository

$base: 1em;

%font-body {
  font-family: "Fontin", sans-serif;
}

%font-heading {
  font-family: "Fontin Sans", sans-serif;
}

#cgt-main {
  body {
    @extend %font-body;
    font-size: $base;
    line-height: 1.2em;
    font-weight: 400;
  }

  p, li {
    @extend %font-body;
    line-height: 1.2em;
  }

  a {
    color: $green-dark;
    text-decoration: none;
    font-weight: 700;

    &:visited {
      color: $brown-dark;
      text-decoration: none;
      font-weight: 700;
    }
  }

  .summary {
    font-style: italic;
    font-size: ms(2);
    line-height: 1.2em;
    font-weight: 400;
  }

  strong {
    font-weight: 700;
  }

  @for $i from 0 through 5 {
    h#{6 - $i} {
      @extend %font-heading;
      font-weight: 700;
      $size: ms($i + 1, $golden $fourth);
      font-size: #{$size}em;
      line-height: 1.2em;

      a {
        text-decoration: none;
      }
    }
  }

  // demote all headers inside the content
  .content {
    @for $i from 0 through 5 {
      h#{6 - $i} {
        $size: ms($i + 0, $golden $fourth);
        font-size: #{$size}em;
      }
    }
  }
}