@import "compass";
// @import "font-awesome.css";
@import "compass/reset";
@import "modular-scale";
// @import "breakpoint";
// @import "susy";
// @import "toolkit";

@import "grid";
@import "colors";
@import "typography";

// temporary

.body-proto {
	width: 100%;
	height: 100%;
	background-image: url(../images/web-mockup-1.jpg);
}

main {
	padding: 60px;
}

#cgt-start {
	position: absolute;
	bottom: 50px;
	left: 50px;
}

nav.choices {
	padding: 60px;
}

#cgt-nav {

}