
h1 What is your growing inspiration?
ul
  li Food Forest: build a forest ecosystem composed of upper and lower levels
  li Permaculture
  li Succession Planting: grow one crop after another
  li
    | Heirloom Seed Saving: preserve your favorite varieties of a plant or create your own by saving seeds

nav
  ul
    li
      a(ui-sref='growing.garden-type') Type
    li
      a(ui-sref='growing.maintentance') Maintentance 
    li
      a(ui-sref='growing.supplies') Supplies 

