h1 So you want to start a community garden!
p.summary That's a worthy endeavor we want to support. In this interactive experience, we will walk you through some things to consider when starting a garden. Those that already participate in gardens will hopefully find tips as well.
nav
	li
		a(ui-sref='vision') Enter