// ----////////LAND//////////---
h1 Do you have a site in mind?
p.summary(ph-txt='3p3s')
  
div(ui-view)
nav.choices
  li
    a(ui-sref="land.has-site") Yes, I have a site!
  li
    a(ui-sref="land.no-site") No, not quite
    
