li
  | Yes
  ul
    li Evaluate whether it’s a good place for a garden:
    ul
      li Sunlight - the garden should get at least 6 hours of sunlight a day
      li Water
      li Soil Quality - avoid soil with high amounts of heavy metals, particularly lead
      li Location
      li Slope - the slope of land should be close to level
      li Pests and Invasive species - check regulary for signs of pest damage
      li 
        | Learn more here:
        a more stuff 