// ----////////PEOPLE//////////---
h1 What kind of team will you need?
p
  | There’s a variety of roles and responsibilities to ensure a garden runs smoothly.  The positions will vary for every garden, but the core responsibilities entail garden maintenance, gardening advice, and team management/communications with the garden members and volunteers. Here are some example roles:
ul
  li
    | Garden Guru: a skilled grower and gardener who can be called upon for advice on growing and gardening practices
  li
    | Site Coordinator: Point of Contact for day-to-day happenings and maintenance of the garden. For example: managing equipment and tools, making necessary repairs, keeping common areas clean and safe
  li
    | Communications Coordinator: point of contact for questions regarding membership, events, and meetings; maintains list of garden contacts and members, sends communications to members, schedules meetings, schedules and promotes events
  li
    | Book Keeper: manages garden’s finances; keeps a budget and record of financial transactions; takes notes at meetings