// ----////////PEOPLE//////////---
h1 What kind of team will you need?
p
  | There’s a variety of roles and responsibilities to ensure a garden runs smoothly.  The positions will vary for every garden, but the core responsibilities entail garden maintenance, gardening advice, and team management/communications with the garden members and volunteers. Here are some example roles:
ul
  li
    | Garden Guru: a skilled grower and gardener who can be called upon for advice on growing and gardening practices
  li
    | Site Coordinator: Point of Contact for day-to-day happenings and maintenance of the garden. For example: managing equipment and tools, making necessary repairs, keeping common areas clean and safe
  li
    | Communications Coordinator: point of contact for questions regarding membership, events, and meetings; maintains list of garden contacts and members, sends communications to members, schedules meetings, schedules and promotes events
  li
    | Book Keeper: manages garden’s finances; keeps a budget and record of financial transactions; takes notes at meetings
h1 Where do you fit in?
p
  | You don’t need a green thumb to contribute to a community garden team. Have a background in? [click to select]
ul
  li
    | Marketing/Communications  - publicity/promote the garden, be keeper of the rules/bylaws
  li Fundraising - Write grants
  li Event/Party-planning - plan garden events (poetry readings, picnics, etc.)
  li Book-keeping: Manage the Budget
  li Administration - Be the volunteer coordinator, be the note-taker
  li
    | Construction/Carpentry - Be in charge of building , projects; building beds, managing tools, the storage shed, putting up signs in the garden
h1 How can you recruit people for the garden?
ul
  li Talk to your neighbors
  li Reach out to your local community development association
  li Put up flyers
  li Attend a community meeting
  li
    | Reach out to your local state house representative, state senator, or city council person’s office
h1 How can I keep people organized?
ul
  li
    | Have a decision making process (consensus, majority rules, appointed leadership, arbitrator, etc.)
  li
    | Create a garden agreement (write down roles and responsibilities and draft a rulebook)
  li
    | Run successful meetings (get the word out ahead of time, make an agenda, make decisions and keep up momentum – hold enough meetings so people feel they are playing a part, but not so many that members find them tedious
  li Manage conflict successfully (....)