h1 Where do you fit in?
p
  | You don’t need a green thumb to contribute to a community garden team. Have a background in? [click to select]
ul
  li
    | Marketing/Communications  - publicity/promote the garden, be keeper of the rules/bylaws
  li Fundraising - Write grants
  li Event/Party-planning - plan garden events (poetry readings, picnics, etc.)
  li Book-keeping: Manage the Budget
  li Administration - Be the volunteer coordinator, be the note-taker
  li
    | Construction/Carpentry - Be in charge of building , projects; building beds, managing tools, the storage shed, putting up signs in the garden