h1 How can you recruit people for the garden?
ul
  li Talk to your neighbors
  li Reach out to your local community development association
  li Put up flyers
  li Attend a community meeting
  li
    | Reach out to your local state house representative, state senator, or city council person’s office