h1 Land Bank
p 
  | The Land bank is a city initiative passed in Spring 2014 to acquire, inventory, and manage unused/vacant land in Pittsburgh. It is intended to address blight and facilitate the repurposing of land for productive use. 
  a(href="http://pittsburghpa.gov/landbanking/faqs") Learn more about the Landbank
h2 Other resources
ul 
  li 
    a(href="http://www.communityprogress.net/") Center for Community Progress
  li
    a(href="http://www.housingalliancepa.org/") Housing Alliance of PA
  li
    a(href="http://www.smartgrowthamerica.org") Smart Growth America
  li
    a(href="http://www.pcrg.org", target="_blank") Pittsburgh Community Reinvestment Group
    
