h1 Why is policy important?
p.summary
  | Policies can either facilitate or obstruct operation and development of community gardens. This is why it’s important that you as a community gardener be engaged in policy making that promotes and manages green space.  As policies are created, it’s up to gardeners like you to assert that community gardens are a legitimate, productive use of land, deserving of public support and protection.
h1 What kinds of policies impact my garden?
ul
  li Land use policies such as the Pittsburgh landbank initiative
  li Food Policy
  li City Ordinances such as city water and tree planting
  li
    | Learn more
    a(href='#') here
h1 How Can I Impact Policy?
