h1 So you want to start a community garden!
p.summary That's a worthy endeavor we want to support. In this interactive experience, we will walk you through some things to consider when starting a garden. Those that already participate in gardens will hopefully find tips as well.
.content(cgt-wp-post="my-slug")
ul
	li.color-1 hey
	li.color-2 hey
	li.color-3 hey
	li.color-4 hey
	li.color-5 hey
	li.color-6 hey
	
nav
	li
		a(ui-sref='vision') Enter