// ----////////VISION//////////---
h2 Who is your garden for?
ul
  li Garden members
  li Everyone in the community
  li Kidssub
  li People with disabilities
  li Seniors
  li [fill in your own]
h2 What are the goals?
ul
  li Garden members
  li Everyone in the community
  li Kids
  li People with disabilities
  li Seniors
  li [fill in your own]
h2 What kind of garden will this be
ul
  li Individual beds
  li Adopt-a-crop
  li Collective Growing
  li Food Pantry Garden
  li Therapy Gardens
  li Youth Education Graden